[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-material = "*"
sphinxcontrib-drawio = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-svg2pdfconverter = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
