[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-material = "*"
sphinx-book-theme = "*"
sphinxcontrib-drawio = "*"
sphinxcontrib-svg2pdfconverter = "*"
sphinxcontrib-mermaid = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-datatemplates = "*"
sphinxcontrib-bibtex = "*"
sphinxcontrib-blockdiag = "*"
sphinxcontrib-seqdiag = "*"
sphinxcontrib-actdiag = "*"
sphinxcontrib-nwdiag = "*"
gitpython = "*"
tzlocal = "*"
mlx-traceability = "*"
jupyter-sphinx = "*"
ipykernel = "*"
matplotlib = "*"
myst-parser = "*"
myst-nb = "*"
nbsphinx = "*"
sphinx-copybutton = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
